<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/01101ea037.js" crossorigin="anonymous"></script>
    <title>Crea tu cuenta</title>
</head>

<body>
    <header class="main-header">
        <section class="main-header-top-bar">
            <img src="/img/logo-mercado-liebre.svg" alt="Logo MercadoLiebre" class="main-header-logo">
           
            <div class="main-header-search-bar">
                <form class="nav-search">
                    <input class= "input-search" type= "text" placeholder="Buscar productos, marcas">
                    <i class="fa-solid fa-magnifying-glass icon-search"></i>
                </form>
            </div>

            <p id="header-comprar-cuotas">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </p>
   
        </section>
       
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>     
        
        <div class="burger-menu">
            <i class="fas fa-bars burger"></i>
        </div>

    </header>

    <main class="main-form">
         <form action="/" method="post">
                <div class="input-form">
                    <label for="nombre">Nombre y Apellido:</label>
                    <input type="text" id="nombre" placeholder="Ej: José Perez" name="nombre">
                </div>
                
                <div class="input-form">
                    <label for="usuario">Nombre de usuario:</label>
                    <input type="text" id="usuario" placeholder="8 caracteres" name="usuario">
                </div>

                <div class="input-form">
                    <label for="fechanac">Fecha de nacimiento:</label>
                    <input type="date" id="fechanac" placeholder="DD/MM/AA" name="fechanac">
                </div>

                <div class="input-form">
                    <label for="domicilio">Domicilio:</label>
                    <input type="text" id="domicilio" placeholder="Ej: Calle Falsa 123 P1 A" name="domicilio">
                </div>

                <div class="input-form">
                    <label for="perfil">¿Cuál es su perfil de usuario?</label>
                    <select id="perfil">
                        <option value="" selected disabled>Perfil de usuario</option>
                        <option value="comparar">Comprador</option>
                        <option value="vender">Vendedor</option>
                    </select>
                </div>

                <div class="input-form">
                    <label>Categorías de interés:</label>
                        <input type="checkbox" id="electro" name="interes">
                        <label for="electro">Electro</label>
                        <input type="checkbox" id="moda" name="interes">
                        <label for="moda">Moda</label>
                        <input type="checkbox" id="hogar" name="interes">
                        <label for="hogar">Hogar</label>
                        <input type="checkbox" id="jugueteria" name="interes">
                        <label for="jugueteria">Juguetería</label>
                        <input type="checkbox" id="vidasana" name="interes">
                        <label for="vidasana">Vida sana</label>
                    </select>
                </div>

                <div class="input-form">
                    <label for="foto">Foto de usuario:</label>
                    <input type="file" id="foto" name="foto">
                </div>

                <div class="input-form">
                    <label for="contrasena">Contraseña:</label>
                    <input type="password" id="contrasena" placeholder="8 caracteres" name="contrasena">
                </div>

                <div class="input-form">
                    <label for="confirmar">Confirmar contraseña:</label>
                    <input type="password" id="confirmar" placeholder="8 caracteres" name="confirmar">
                </div>

     
            <div class="input-form">
                <button type="submit" class="form-button"><a href="/" >Enviar</a></button>
                <button type="reset" class="form-button">Borrar</button>
            </div>
        </form>

  </main>

  <footer>
    <section class="section-footer">
            <i class="fa-solid fa-credit-card icon-footer"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p class="conditions-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>     
    </section>
    
    <section class="section-footer">
            <i class="fa-solid fa-gift icon-footer"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p class="conditions-footer">
            Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.    
            </p>
    </section>
    
    <section class="section-footer">
            <i class="fa-solid fa-user-shield icon-footer"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p class="conditions-footer">
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.
            </p>
    </section>

    <section class="section-footer-conditions">    
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>    
    </section>        
</footer>

</body>
</html>